# ======================== Elasticsearch Configuration =========================

# ---------------------------------- Cluster -----------------------------------
# cluster.name: elk-cluster

# ------------------------------------ Node ------------------------------------
# node.name: {{ ansible_hostname }}

# ----------------------------------- Paths ------------------------------------
# path. /var/lib/elasticsearch
# path.logs: /var/log/elasticsearch

# ---------------------------------- Network -----------------------------------
# Привязка к localhost и внутренней сети.
# Доступ извне блокируется на уровне Security Group.
network.host: {{ elasticsearch_network_host }}
http.port: {{ elasticsearch_port }}

# --------------------------------- Discovery ----------------------------------
# Укажите хост(ы) для начального обнаружения. Для одиночного узла это он сам.
discovery.seed_hosts: ["127.0.0.1"]
# Укажите, что этот узел может быть мастером и является частью начального набора мастер-узлов.
cluster.initial_master_nodes: ["{{ ansible_hostname }}"]

# ---------------------------------- Gateway -----------------------------------
# gateway.recover_after_nodes: 3

# ---------------------------------- Various -----------------------------------
# action.destructive_requires_name: true

# Отключение проверки безопасности для упрощения (НЕ ДЕЛАЙТЕ ЭТО В ПРОДАКШЕНЕ!)
xpack.security.enabled: false

# Отключение автоматического создания индексов по умолчанию (опционально)
# action.auto_create_index: false
